@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
@import './base/reset';
@import './base/normalize';
@import './base/common';
@import './base/variables';
@import './components/header';
@import './components/main/history';
@import './components/main/create';
@import './components/main/gallery';
@import './components/main/seller';
@import './components/main/blog';
@import './components/footer';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $white;
    background: $bg;
}
